body
{
  background-color: black;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    grid-template-rows: auto;
    text-align: center;
    margin: 10px;
    height: 100vh;
    align-items: stretch;
}

.grid-item
{
  padding :25%; 
  border : 10px rgb(0, 0, 0) solid;
  color: rgb(255, 255, 255);
}

.grid-item-1
{
  background-color: darkcyan;
}

.grid-item-2
{
  background-color: rgb(255, 132, 0);
}
.grid-item-3
{
  background-color: lightseagreen;
}

.grid-item-4
{
  background-color: orangered;
}
.grid-item-5
{
  background-color: cyan;
  color: black;
}
.grid-item-6
{
  background-color: rgb(255, 132, 0);
}
.grid-item-7{
    background-color: orange;
}
.grid-item-8
{
  background-color: darkcyan;
}

.grid-item-9
{
  background-color: rgb(255, 132, 0);
}
.grid-item-10
{
  background-color: lightseagreen;
}

.grid-item-11{
    background-color: orange;
}
.grid-item-12
{
  background-color: orangered;
}

.grid-item-13
{
  background-color: darkcyan;
}

.grid-item-14
{
  background-color: orangered;
}
.grid-item-15
{
  background-color: cyan;
  color: black;
}
.grid-item-16
{
  background-color: rgb(255, 132, 0);
}

.grid-item-17
{
  background-color: darkcyan;
}
.grid-item-18
{
  background-color: cyan;
  color: black;
}
