body
{
  background-color: black;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    height: auto;
} 

.grid-item
{
  padding: 10%;
  border : 10px rgb(0, 0, 0) solid;
  color: rgb(255, 255, 255);
}

.grid-item-1
{
  background-color: orangered;
  grid-column: 1 / span 2 ; 
}

.grid-item-2
{
  background-color: darkcyan;
}

.grid-item-3
{
  
  background-color: orange;
}

.grid-item-4
{
  background-color: rgb(255, 132, 0);
}

.grid-item-5
{
  background-color: darkcyan;
  
}

.grid-item-6
{
  background-color: lightseagreen;
}

.grid-item-7
{
  background-color: orange;
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

.grid-item-8
{
  background-color: cyan;
  grid-column: 3;
  color: black;
}

.grid-item-9
{
  background-color:orangered;
}

.grid-item-10
{
  background-color: darkcyan;
}

.grid-item-11
{
  background-color: cyan;
  grid-column: 1 / span 3;
  grid-row: 5;
  color: black;
}

.grid-item-12
{
  background-color: darkcyan;
  grid-column: 4;
  grid-row: 5;
  
}